.column 
{
	float: left;
	width: 50%;
}

/* Clear floats after thecolumns */
.row:after 
{
	content: "";
	display: table;
	clear: both;
} 

.title
{
	color: #CC0066;
	font: normal 25px Tahoma, Geneva, sans-serif;
}

table 
{
	font-family: "Courier New", Courier, monospace;
	border: 1px solid #1C6EA4;
	background-color: #EEEEEE;
	text-align: left;
	border-collapse: collapse;
}
 
table td, table th 
{
	border: 1px solid #AAAAAA;
	padding: 3px 25px 3px 25px;
}

table th:first-child 
{
	border-left: none;
}

table tr:nth-child(even) 
{
  background: #D0E4F5;
}

table thead 
{
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}

table thead th 
{
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}

table tbody td 
{
	font-size: 18px;
	font-weight: bold;
	text-align: right;
}

table tfoot 
{
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  color: #003399;
  background: #D0E4F5;
  background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
  border-top: 2px solid #444444;
}
	
